.containerP{
    height: 20vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    background-color: #333;
    color: #fff;
}
.containerC{
    height: 15vw;
    width: 15vw;
    background-color: #333;
    padding: 2vw;
}
.containerC h3{
    margin-bottom: 1.5vw;
}
.listItem{
    display: flex;
    flex-direction: column;
}

.listItem a{
    padding-bottom: 1.5vw;
    text-decoration: none;
    color: #888;
}
.listItem a:hover{
    color: #fff;
    transition: color 0.3s ease;
}
.copyright{
    margin-top: 5vw;
    text-align: center;
    color: #000;
}